/*=============================ABOUT HERO==========================*/
#about-hero {
    height: 450px;
    background-image: url('../img/ps2.png');
    background-position: bottom;
    background-size: cover;
    margin-top: 82px;
}
iframe {
    margin-top: 152px;
    margin-left: 420px;
}
/*============================COLUMN==============================*/
.text-center {
    text-align: center;
}
p {
    margin: 0;
}
.justify {
    text-align: justify;
}
