/*=============================ABOUT HERO==========================*/
#about-hero {
    height: 450px;
    background-image: url('../img/ps2.png');
    background-position: bottom;
    background-size: cover;
    margin-top: 80px;
}
/*============================COLUMNS==============================*/
.text-center {
    text-align: center;
}
.justify {
    text-align: justify;
}