/*=========================body=======================================*/
.green-background {
    background-color: #32CD32;
}
#posts-header {
    margin-top: 22px;
}
#hero-5 {
    width:100%;
    height: 350px;
    background-image: url("../img/ps2-con.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
footer {    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}